// COLORS
$primary-color: #000000;
$secondary-color: #66ff00;
$font-family: "comic sans", sans-serif;

$light-white: #000000;
$white-color: #000000;
$dark-grey: #ffffff;

$dark-blue-text: #ffffff; // For headings

// FONT SIZE
$default-font-size: 2rem;
$mid-font-size: 3rem;
$big-font-size: 4.4rem;
